.itemdiv{
	padding-left: 0px;
	padding-top:15px;
	padding-bottom:15px;
	margin-left:48px;
	margin-top:25px;
	box-shadow: 0px 2px 6px 2px rgba(105,105,105,0.6);
}
/*.fa-spinner{
	font-size: 5px;
}*/
li{
	list-style: none;


}
.itemheading{
	font-weight:bold;

}
iframe{
	margin-left: 15%;
	margin-top: 5%;
}

/* tab screen */
@media (max-width:1000px) {
.itemdiv{
	height:270px;
}
iframe{
	margin-left: 3%;
	margin-top: 3%;
}
.imagesection{
	padding-top: 8px;

}

/* small screen */
@media (max-width: 778px) {

	.itemdiv{
	padding-left: 0px;
	
	padding-bottom:15px;
	margin-left:15px;
	height:310px;
	}
	.itemheading{
	margin-left:20px;

	}
	iframe{
		width: 100%;
		height: auto;
	}
	.imagesection{
	padding-top: 0px;
}
}
