
.side-menu {
  position: absolute;
  width: 300px;
  height: 100%;
  background-color: #232323;
  border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
  border: none;
}
.side-menu .navbar-header {

  width: 100%;
  border-bottom: 2px solid #DD9E00;
}
.side-menu .navbar-nav .active a {

  margin-right: -1px;
  border-left: 7px solid #970002;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #393939;
}
.side-menu .navbar-nav li a {
  padding: 15px;
}

.side-menu .brand-name-wrapper {
  min-height: 50px;
  background-color: #0F0F0F;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.sidenav li a:hover{
	color: #6B0001;
}

/* Main body section */
.side-body {
  margin-left: 310px;
}
.side-body h2{
            color: #535353;
            font-weight: bold;
            font-style: italic;
            font-size: 20px;
            margin-top: 10px
            line-height: 25px; 
}
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: absolute;
    left: -300px;
    width: 300px;
/*    top: 200px;*/
    height: 100%;
    border-right: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }


  /* Slide side body*/
  .side-body {
    margin-left: 3px;
    margin-top: 70px;
    position: relative;
    
  }
 
  /* Hamburger */
  .navbar-toggle1 {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
   
  }

}
